html {
    height: 100%;
    width: 100%;
}

body {
    background-color:  #DEDCDA;
    font-family: 'Cormorant Garamond', serif;
    color:      #96908A;
    font-size: 36px;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
  } 

.left-panel {
    width: 65%;
}

.right-panel {
    width: 35%;
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #96908A;

}
a:visited {
    text-decoration: none;
    color: #96908A;

}